/**
 * @name Pravda Winter
 * @version beta
 * @description A Pravda style theme
 * @author LoryCave
 * 
 * @website http://github.com/LoryCave
 * @source https://github.com/LoryCave/Pravda_Winter
 */

@import url(https://lorycave.github.io/Pravda_Winter/source.css);
